<section class="blogContainer">
      <div class="commentTitle">
        <p>Posted by {{author}}</p> 
        <p>{{ format_date dateCreated }}</p>
      </div>
      <div class="blogContent">
        {{content}}
      </div>
    </section>