<section  class="blogContainer">
      <div class="blogTitle">
        <h3>{{title}}</h3>
        <p>{{author}} - {{ format_date dateCreated }}<button class="viewPost">View</button></p>
        
      </div>
      <div class="blogContent">
        {{content}}
      </div>
    </section>
