<section class="commentContainer">
      <div class="commentTitle">
        <p>{{author}}</p> 
        <p>{{ format_date dateCreated }}</p>
      </div>
      <div class="blogContent">
        {{content}}
      </div>
    </section>