      <section class="blogContainer">
      <div class="blogTitle">
        <h3>{{title}}</h3>
        <p>Posted by {{author}} on {{ format_date dateCreated }}</p>
      </div>
      <div class="blogContent">
        {{content}}
      </div>
    </section>