
<div class="body">
<button id="newPostBtn">New Post</button>
{{#each posts as |post|}}
{{> dashboard-posts}}
{{#each post.comments as |comment|}}
{{> dashboard-comments}}
{{/each}}
{{/each}}
</div>

<div>
<section class="postModal">
  <h1 class="postTitle">New Post</h1>
  <button id="closePost" class="closeBtn">&times;</button>
  <form class="form" action="#">
    <input id="titleInput" type="text" placeholder="Title" />
    <textarea
      name="post"
      id="postTextarea"
      cols="100"
      rows="10"
      placeholder="Channel your inner Shakesphere"
    ></textarea>
    <input id="submitBlog" value="Save" type="button"/>
  </form>
</section>
</div>

<script src="/js/newPost.js"></script>