<section class="signModal">
      <div class="modalContent">
        <h1 class="modalTitle">Sign Up</h1>
        <button id="closeSign" class="closeBtn">&times;</button>
      </div>
      <form class="form"  id="signForm">
        <input type="text" id="signUsername" autocomplete="username" placeholder="Username" />
        <input type="password" id="signPassword" autocomplete="current-password" placeholder="Password" />
        <input id="submitSign" type="submit" value="Submit" />
      </form>
    </section>

    <section class="loginModal">
      <div class="modalContent">
        <h1 class="modalTitle">Login</h1>
        <button id="closeLogin" class="closeBtn">&times;</button>
      </div>

      <form class="form" id="loginForm">
        <input type="text" id="loginUsername" autocomplete="username" placeholder="Username" />
        <input type="password" id="loginPassword" autocomplete="current-password" placeholder="Password" />
        <input id="submitLogin" type="submit" value="Submit" />
      </form>

      <div class="signUp">
        <p>Not signed up?</p>
        <button id="signBtn" >Sign Up</button>
      </div>
    </section>
    <main id="content">

    <script src="/js/login.js"></script>