<section class="postModal">
  <h1 class="postTitle">New Post</h1>
  <button id="closePost" class="closeBtn">&times;</button>
  <form class="form" action="#">
    <input id="titleInput" type="text" placeholder="Title" />
    <textarea
      name="post"
      id="postTextarea"
      cols="100"
      rows="10"
      placeholder="Channel your inner Shakesphere"
    ></textarea>
    <input id="submitBlog" type="submit" value="Save" />
  </form>
</section>