* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: rgb(160, 160, 160);
}

.header {
  background-color: #2a224e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2rem;
}

.header ul {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-size: 4.5rem;
}

.header ul a {
  list-style: none;
  width: 150px;
  text-decoration: none;
  text-align: center;
}

#logo {
  font-size: 2rem;
}

.header a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0.1ch;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

.header ul a:hover {
  color: aqua;
  letter-spacing: 0.2ch;
}

#nav-username {
  text-align: center;
  color: rgb(238, 255, 0);
  font-size: 0.7rem;
  letter-spacing: 0.1ch;
  padding-left: 0.5rem;

}

/* ================= Blog Posts ================== */

.blogContainer, .commentContainer {
  margin: 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.commentContainer {
  /* display: none; */
}

.commentH1 {
  color: black;
  text-align: center;
  font-weight: 400;
}

.blogTitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #2a224e;
  color: #fff;
  letter-spacing: 0.1ch;
}

.blogTitle h3 {
  font-weight: 300;
}

.blogContent, .commentContent {
  padding: 2rem;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.deletePost, .editPost {
  background-color: rgb(91, 97, 184);
  margin: 0 1rem;
  width: 3rem;
  height: 1.5rem;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}

.selectBlog:hover {
  color: aqua;
  cursor: pointer;
}

/* ================= Sign in/up Modals =================== */

.loginModal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95vw;
  max-height: 95vh;
  flex-direction: column;
  padding: 3rem;
  border-radius: 15px;
  background-color: teal;
}
.signModal, .postModal, .commentModal, .editModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95vw;
  max-height: 95vh;
  flex-direction: column;
  padding: 3rem;
  border-radius: 15px;
  background-color: teal;
  z-index: 100;
}

.closeBtn {
  font-size: larger;
  position: absolute;
  background-color: #2a224e;
  color: #fff;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.05rem 0.4rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.closeBtn:hover, .deletePost:hover, .editPost:hover {
  background-color: rgb(255, 0, 0);
}

.modalContent {
  text-align: center;
  color: #fff;
  letter-spacing: 0.3ch;
  font-size: larger;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
}

.form input {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: none;
}

.signUp {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#submitLogin, #submitSign, #newPostBtn, #submitBlog, #addComment, #submitComment, #editBlog {
  text-align: center;
  background-color: rgb(91, 97, 184);
  color: #fff;
  width: 50%;
  padding: 0.7rem;
  cursor: pointer;
}
#submitSign:hover, #submitLogin:hover, #newPostBtn:hover, #submitBlog:hover, #addComment:hover, #editBlog:hover{
  background-color: rgb(0, 17, 255);
  color: #fff;
}


#signBtn {
  background-color: rgb(241, 181, 140);
  width: 25%;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
#signBtn:hover {
  background-color: rgb(0, 17, 255);
  color: #fff;
}

.postTitle, .commentTitle, .editTitle {
  text-align: center;
  color: #fff;
  font-weight: 400;
}

#titleInput, .editInput {
  text-align: center;
  letter-spacing: 0.1ch;
  font-size: 1.5rem;
  font-weight: 300;
}

#postTextarea, #editTextarea {
  line-height: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1ch;
  max-width: 90vw;
}

#newPostBtn, #addComment {
  margin: 1rem 2rem 0;
  width: 150px;
  border: none;
  border-radius: 10px;
}

/* Hide Class */
.hide {
  display: none !important;
}

.display {
  display: flex !important;
}

.blur {
  filter: blur(3px);
}